*{
    padding:0 ;
    margin: 0;
}
header{
    background-color: aqua;
    color:black;
}
header{
    background-color:black ;
    color:white;
    border:1px solid red;
    coloe:red;
    height:30px ;
}
header h1{
    float:left ;
    color:aqua;
}
header ul li{
    float:right ;
    display: inline;
    
}
header ul li a{
    margin: 10px;
    color: white;
    text-decoration: none;
}
.container{
    background-color:#fff;
    width: 80%;
    margin:auto;
}
.hero{
    background-image: url('img/herow.jpg');
    background-size:cover ;
    background-position:0px-50px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1{
    background-color: azure;
    font-size: 40px;
    text-shadow: 0 5px 10px 10px,rgb(250,0, 0);
}
.hero h2{
    background-color: aquamarine;
    
}
.hero h4{
    background-color: chartreuse;
}
.container .artikel{
    width:60%;
    float:left;
    
}
.container .about {
    width: 30%;
    float:right;
}
footer{
    height:60px;
    background-color: aqua;
    text-align: center;
    line-height: 60px;
}
.bersihkan{
    clear:both;
}